@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
  scroll-padding-top: 14rem;
  /* overflow-x: hidden; */
}

*{
  scroll-behavior: smooth !important;
}

.App {
  font-family: 'VT323', monospace;
  color: black;
  text-align: center;
}

.App-logo {
  height: 60px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  min-height: 5rem;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.04);
  z-index: 99;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav div {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

nav div img {
  margin: 0 16px;
}

nav button {
  height: 46px;
  padding: 0 36px;
  border-radius: 40px;
  background: linear-gradient(135deg, #FEDF57 0%, #85DDFF 100%);
  border: none;
  font-family: 'VT323', monospace;
  font-size: 24px;
}

nav button:hover {
  cursor: pointer;
}

.nav-link {
  margin: 0 12px;
}

.nav-item:hover {
  border-bottom: 1px solid;
}

.nav-favicon {
  margin: 0 8px;
  height: 24px;
  width: 24px;
}

.nav-burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-right: 48px;
  z-index: 999;
}

.nav-burger div {
  width: 1rem;
  height: 0.15rem;
  background: black;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

span {
  background-image: linear-gradient(45deg, #FEDF57, #85DDFF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.App-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.segment {
  margin: 50px 0;
}

.hero {
  padding: 8rem 280px;
  display: flex;
  align-items: center;
}

.hero div {
  text-align: left;
  margin-right: 80px;
}

.hero img { /* Logo */
  height: 400px;
  width: 400px;
}

.hero div img { /* CTA button */
  object-fit: scale-down;
  height: 80px;
}

.partner {
  height: 200px;
  width: 200px;
  border-radius: 50%!important;
  filter: grayscale(100%);
  margin: 20px; 
}

.partner:hover {
  filter: none;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px; /* row-gap column gap */
}

.testimonial {
  /* margin: 0 24px; */
  /* width: 21%; */
}

@media (max-width: 1300px) {
  .hero {
    padding: 8rem 120px;
  }
}

@media (max-width: 990px) {
  nav {
    flex-direction: column;
  }

  .nav-responsive {
    min-height: 5rem;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0,0,0,0.04);
  }

  .nav-link {
    margin: 16px 0;
    /* width: 100%; */
  }

  .nav-link:nth-child(1){
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    /* margin-top: 50px; */
  }

  .nav-burger {
    display: flex;
  }

  .nav-burger div {
    
  }

  .nav-links {
    /* padding-top: 500px; */
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 925px) {
  .hero {
    padding: 8rem 120px;
    flex-direction: column;
  }

  .hero div {
    text-align: center;
    margin: 0;
  }

  .hero img {
    height: 300px;
    width: 300px;
  }
}